@model IEnumerable<Montadora.Models.Peca>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NumeroDeSerie)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(i => item.NumeroDeSerie)</td>
                <td>@Html.DisplayFor(i => item.Descricao)</td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.PecaId }, new { @class = "glyphicon glyphicon-pencil btn btn-warning" })
                    @Html.ActionLink(" ", "Deletar", new { id = item.PecaId }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>



