@model IEnumerable<Montadora.Models.Cliente>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.Cpf)</th>
            <th>@Html.DisplayNameFor(model => model.Sexo)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Nome)</td>
                <td>@Html.DisplayFor(model => item.Cpf)</td>
                <td>@Html.DisplayFor(model => item.Sexo)</td>
                <td>
                    @Html.ActionLink(" ", "Editar", new { id = item.Id }, new { @class = "glyphicon glyphicon-pencil btn btn-warning" })
                    @Html.ActionLink(" ", "Deletar", new { id = item.Id }, new { @class = "glyphicon glyphicon-trash btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>