@model Montadora.Models.Montador
@{
    ViewBag.Title = "Excluir Montador";
}
<h2>Você deseja realmente excluir o Montador: @Model.Nome ? </h2>
<hr />
@using (Html.BeginForm())
{
    @Html.HiddenFor(id => id.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Nome): @Model.Nome
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Cpf): @Model.Cpf
    </div>
    <div class="form-group">
        <div class="col-md-offset-1">
            <input type="submit" value="Excluir" class="btn btn-danger" />
            @Html.ActionLink("Cancelar", "Listar", "", new { @class = "btn btn-primary" })
        </div>
    </div>
}